<!DOCTYPE html>
<html> 
    <head>
       <title>{% block title %}{% trans %}News{% endtrans %}{% endblock %}</title>
       {% block head %}
           <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
           {% block stylesheets %}
               {% stylesheets '@NewsBundle/Resources/public/css/*' filter='cssrewrite' %}
               <link rel="stylesheet" href="{{ asset_url }}" />
           {% endstylesheets %}           
           {% endblock %}
           
            {% javascripts
                    '@NewsBundle/Resources/public/js/jquery-1.11.1.js'
                    '@NewsBundle/Resources/public/js/repeatPassword.js'
                    '@NewsBundle/Resources/public/js/bootstrap.min.js'%}
                    <script src="{{ asset_url }}"></script>
                    {% endjavascripts %}

        {% endblock %}
    </head>
    <body>
            {% block body %}
                {% block content %}{% endblock %}
            {% endblock %}
    </body>
</html>
