{% extends "NewsBundle::layout.html.twig"%}

{% block title %}{% trans %}News{% endtrans %}{% endblock %}

{% block content_header '' %}   
    {% block content %}
            <div class="text-center ">
                <h1> {% trans %}Welcome{% endtrans %} </h1>
            </div>  
            <div class="text-center btn-group-lg">
                <a href="{{path('_registration')}}" class="btn btn-success">
                    {% trans %}Registration{% endtrans %}
                </a>

                <a href="{{path('_login')}}" class="btn btn-success">
                   {% trans %}Log in{% endtrans %}
                </a>     
            </div>
 {% endblock %}