{% extends "NewsBundle:Admin:layout.html.twig" %}

{% form_theme form 'NewsBundle:Form:fields.html.twig' %}

{% block content -%}
    {{parent()}}

    <h1 class="text-center">Printer creation</h1>
    <a href="{{ path('printer') }}"  class="btn btn-default">{% trans %}Back to the list{% endtrans %}</a>
    <div class="row" >
        <div class="col-md-5 col-md-offset-4">

            {{ form(form) }}
        </div>

    </div>

{% endblock %}
