<div id="search_form" {# action="{{path('search')}}"#} class="navbar-form navbar-right">
  <div class="form-group">
    <input id="search_input" type="text" class="form-control" placeholder="Search">
  </div>
</div>