{% extends "NewsBundle::layout.html.twig"%}

{% block content -%}
    {{parent()}}
    <h1>Dispatch creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('dispatch') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
