{% extends "NewsBundle::layout.html.twig" %}

{% block content %}
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <li>
                                <a href="{{ path('logout') }}">
                                    Выход
                                </a>
                            </li>
     {% endif %}

     Hello {{user}} !
{% endblock %}
